.tabs {
  display: flex;
  justify-content: center;
  gap: 100px; /* space between buttons */
  margin-bottom: 50px;
}

.tab-btn {
  background-color: #666666;
  color: white;
  border:2px solid  #387ED1;
  padding:7px 18px;
  cursor: pointer;
  font-weight: 500;
  border-radius:20px;
  transition: all 0.3s ease;
}

.tab-btn.active {
  background-color: #387ED1;
  border:3px solid #424242;
  color: white;
   transform: scale(1.1);
  
}

.tab-btn:hover {
  transform: scale(1.1);
}




/* table styling */


.charges-table {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.charges-table table {
  border-collapse:collapse;
  border: 1px solid #000000; /* outer border */
  width: auto; /* or 100% if full width needed */
}

.charges-table th,
.charges-table td {
  padding: 12px 15px; /* ✅ your requested padding */
  border: 1px solid  rgb(204, 204, 204); /* ✅ inner lines */
  text-align: left;
}

/* special for equity-table */
.equity-wrap{
    padding:0 200px 0 200px ;
}

/* for first column of each table */
.light {
  color: #666666 ;
  font-weight: 600; /* optional: to make it slightly bold */
}