@keyframes zoomInOut {
  0%, 100% {
    transform: scale(1);
    opacity:0.8;
  }
  50% {
    transform: scale(1.05);
    opacity:1;
  }
}

.img-link img {
  animation: zoomInOut 2s ease-in-out infinite;
  background-color: transparent;
}
